<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net462" />
  <package id="JPB.DataAccess" version="2.0.231" targetFramework="net462" />
  <package id="Unity" version="5.8.6" targetFramework="net462" />
  <package id="WPFToolsAwesome" version="1.0.10.1" targetFramework="net462" />
</packages>