<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="defaultConnection" connectionString="Data Source=.\V17;Initial Catalog=JPB.GameTable.Database;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
	<appSettings>
		<add key="Screen" value="2"/>
		<add key="SaveLocation" value=".\store.xml"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>